body{
  margin: 0px;;
  
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(120deg,#0C2D48,#145DA0);
  height: 100vh;
  overflow: hidden;
}
.card{
  
  position: relative;
  width: 400px;
  height: 250px;
  margin-left: 40px;
}
.card-body {
  position: center;
}
.navbar{
  margin-bottom: 30px;
}

.navbar-brand {
  background-color: rgb(1, 41, 76);
}
.navigation{
  font-family: var(--font2);
  height: 74px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  color: rgb(77, 110, 153);
}
.nav-left{
  font-size: 17px;
  display: flex;
  

}

/* .nav-left span{
  padding-top: 10px;
} */
.nav-left img{
  margin-top: 5px;
  height: 120px;
  width: 100px;
}
.nav-left ul{
  display: flex;
  align-items: center;
  margin: 0 50px;
  font-size: 20px;
}
.nav-left ul li{
  
  list-style: none;
  margin: 0 30px ;
  font-family: var(--font1); 
  
  
}
.nav-left ul li a:hover{
  color: white;
  font-weight: bold;
}
.nav-left ul li a{
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  
  color: rgb(169, 206, 255);
  
}