@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  position: relative;
  overflow-x: hidden !important;
}

body {
  margin: 0px;
  
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(120deg,#0C2D48,#145DA0);
  
  overflow: hidden;
  font-family: "helvetica", sans-serif !important;
}
.navbar{
  background-color: rgb(1, 41, 76);
}
.navbar-brand {
  background-color: rgb(1, 41, 76);
}
.navigation{
  font-family: var(--font2);
  height: 74px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  color: rgb(77, 110, 153);
  
}
.nav-left{
  font-size: 17px;
  display: flex;
  

}


.nav-left img{
  margin-top: 5px;
  height: 120px;
  width: 100px;
}
.nav-left ul{
  display: flex;
  align-items: center;
  margin: 0 50px;
  font-size: 20px;
}
.nav-left ul li{
  
  list-style: none;
  margin: 0 30px ;
  font-family: var(--font1); 
  
  
}
.nav-left ul li a:hover{
  color: white;
  font-weight: bold;
}
.nav-left ul li a{
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  
  color: rgb(169, 206, 255);
  
}
a {
  text-decoration: none;
  color: inherit;
}

section {
  padding-top: 150px;
}




.flip-card{
  justify-content: center;
  justify-items: center;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px !important;
  height: 280px !important;
  width: 580px;
  margin: auto;
}
.flip-card-front{
  border-radius: 10px;
  justify-content: center;
  
  margin: auto;
  background-color: aliceblue;
  border-radius: 1rem;
  color: black;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front h2{
  color: black;
  padding: 0.4rem 0;
}
.flip-card-front p{
  color: black;
  padding: 0 0.5rem
}
.flip-card-back{
  justify-content: center;
  transform: rotateY(180deg);
  z-index: -1;
  border-radius: 10px;
  
  margin: auto;

  background-color: rgb(169, 206, 255);
  border-radius: 1rem;
  color: black;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-inner{
  position: relative;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-back, .flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
}
.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
}
.text-container {
  text-align: center;
}



.end {
  margin: auto;
}

.button.is-fullwidth {
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 30px;
}
