@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html,
body {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url("./images/space.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "helvetica", sans-serif !important;
  overflow-x: hidden !important;
}
.navbar{
  background-color: rgb(1, 41, 76);
}
.navbar-brand {
  background-color: rgb(1, 41, 76);
}
.navigation{
  font-family: var(--font2);
  height: 74px;
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
  color: rgb(77, 110, 153);
}
.nav-left{
  font-size: 17px;
  display: flex;
  

}

/* .nav-left span{
  padding-top: 10px;
} */
.nav-left img{
  margin-top: 5px;
  height: 120px;
  width: 100px;
}
.nav-left ul{
  display: flex;
  align-items: center;
  margin: 0 50px;
  font-size: 20px;
}
.nav-left ul li{
  
  list-style: none;
  margin: 0 30px ;
  font-family: var(--font1); 
  
  
}
.nav-left ul li a:hover{
  color: white;
  font-weight: bold;
}
.nav-left ul li a{
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  
  color: rgb(169, 206, 255);
  
}
.card.has-text-centered h1 {
  font-size: 1.75rem;
  font-weight: bold;
}

.navbar {
  margin-bottom: 20px !important;
}

.hide {
  display: none;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12.5rem;
  margin: 0;
  padding: 1.5rem 3.125rem;
  background-color: #3498db;
  border: none;
  border-radius: 0.3125rem;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 400;
  overflow: hidden;
  font-family: "Open Sans", sans-serif !important;
}

.button:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #34004e;
}

.button span {
  position: absolute;
  line-height: 0;
}

.button span i {
  transform-origin: center center;
}

.button span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%);
}

.button span:nth-of-type(2) {
  top: 100%;
  transform: translateY(0%);
  font-size: 24px;
}

.button span:nth-of-type(3) {
  display: none;
}

.active {
  background-color: #ccb72e;
}

.active:before {
  width: 100%;
  transition: width 30s linear !important;
}

.active span:nth-of-type(1) {
  top: -100%;
  transform: translateY(-50%);
}

.active span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.active span:nth-of-type(2) i {
  animation: loading 10000ms linear infinite !important;
}

.active span:nth-of-type(3) {
  display: none;
}

.finished {
  background-color: #483d7a;
}

.finished .submit {
  display: none;
}

.finished .loading {
  display: none;
}

.finished .check {
  display: block !important;
  font-size: 24px;
  animation: scale 0.5s linear;
}

.finished .check i {
  transform-origin: center center;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(10);
  }
  50% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.hero {
  margin-top: 70px !important;
  margin-bottom: 70px;
}

.input{
  height: 500px;
  width: 800;
}

/* #text{
  width: 1000;
} */

.all{
  /* Rectangle 1 */
color: white;
position: absolute;
width: 657px;
height: 150px;
left: 133px;
top: 107px;

background: rgba(207, 178, 178, 0.53);

}

